<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <p><strong><%= @property.name %></strong></p>
    <li><%= @property.county %></li>
    <li><%= @property.area %></li>
    <li><%= @property.units.count %></li>
    <li><%= @property.notes %></li>
</p>

<%= link_to 'Add Units', new_property_unit_path(@property) %> |
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>

<div class="container">
  <p>Units</p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Bedrooms</th>
        <th>Master bedroom ensuite</th>
        <th>Floor</th>
        <th>Balcony</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @units.each do |unit| %>
        <tr>
          <td><%= unit.name %></td>
          <td><%= unit.bedrooms %></td>
          <td><%= unit.master_bedroom_ensuite %></td>
          <td><%= unit.floor %></td>
          <td><%= unit.balcony %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

</div>
