<p id="notice"><%= notice %></p>

<% if @tenant != nil %>
  <p>
    <strong>Tenant</strong>
    <%= @tenant.email %>
  </p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @unit.bedrooms %>
</p>

<p>
  <strong>Master bedroom ensuite:</strong>
  <%= @unit.master_bedroom_ensuite %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @unit.floor %>
</p>

<p>
  <strong>Balcony:</strong>
  <%= @unit.balcony %>
</p>
<p>
  <strong>Rent this appartment:</strong>
  checkout method for leasing
</p>



<%= link_to 'Edit', edit_property_unit_path(@unit) %> |
<%= link_to 'Back', property_path(@unit.property_id) %>
